.select {
    max-width: 10%;
    margin: 0 auto;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.green {
    background: lightgreen;
}

.green-text {
    color: darkslateblue;
}